@import "tailwindcss";

:root {
  /* Breakpoints */
  --break-phone: 575px;
  /* below 576px */
  --break-tablet: 576px;
  /* 576px and above */
  --break-pc: 1200px;
  /* 1200px and above */

  /* Typography */
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-primary: #4E42D9;
  --color-primary-dark: #5237C7;
  --color-primary-light: #4E42D92E;

  --text-color: #213547;
  --bg-color: #ffffff;

  --neutral-light: #f5f5f5;
  --neutral-dark: #242424;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: inherit;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Buttons */
.btn-primary {
  @apply px-8 py-4 rounded-md font-medium transition cursor-pointer;
  background-color: var(--color-primary);
  color: #fff;
}

.btn-primary-light {
  @apply px-4 py-2 rounded-md font-medium transition cursor-pointer;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

/* Sections */
section {
  padding: 4rem 1rem;
  /* py-16 px-4 */
}

/* index.css */
.custom-drop-shadow {
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.25));
}

.blog-grid {
  @apply grid md:grid-cols-3 gap-6;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--neutral-dark);
    --bg-color: var(--neutral);
  }

  .btn-primary {
    @apply px-4 py-2 rounded-md font-medium cursor-pointer;
    background-color: var(--color-primary);
    color: #fff;
  }
}